.app-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    width: 100%;
}

h1{
    text-align: center;
    font-family: 'Roboto';
    color: #596e79;
    font-weight: bold;
}

.table-container {
    overflow-x: auto;   
    max-width: 100%;    
}

table{
    margin: 0 15px;
}

input{
    border-radius: 15px;
    padding: 5px 10px;
    width: 85px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-heading{
    position: relative;
}

.heading-input {
    background-color: #c7b198 ; /* Light gray background for table header cells */
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto';
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.data-input{
    background-color: #dfd3c3 ;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.delete-column-btn{
    position: absolute;
    background-color: transparent;
    top: 47%;
    bottom: 53%;
    right: 3px;
}

.delete-icon{
    width: 17px;
    height: 17px;
    /* color: #596e79; */
    color: #402a23;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.05);
}

.btn:active{
    transform: scale(0.99);
}

.add-column-btn{
    background-color: #596e79;
    border-radius: 50%;
    padding: 3px;
}

.add-column-icon{
    width: 15px;
    height: 15px;
    color: white;
}

.total-score{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.reset-btn{
    margin: 15px 0;
    background-color: cornflowerblue;
    color: white;
    padding: 6px 16px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
}








